django>=5.2.1
django-allauth>=65.8.0
django-htmx>=1.23.0
pymupdf>=1.25.4
python-dotenv>=1.1.0
requests>=2.32.3
PyJWT>=2.10.1
cryptography>=44.0.2
pillow>=11.2.1
django-q2>=1.7.6
pdfplumber>=0.11.5
promptdown>=0.9.0
openai>=1.78.0
pinecone[grpc]>=6.0.2
numpy>=2.2.5
whitenoise>=6.9.0
python-magic>=0.4.27
django-storages[boto3]>=1.14.6
psycopg[binary]>=3.2.6
stripe>=12.0.1
lxml>=5.4.0
quickemailverification>=1.0.4
gunicorn>=23.0.0 