{% load matching_filters %}

<div class="card bg-base-100 shadow-md hover:shadow-lg transition-shadow h-full">
    <div class="card-body flex flex-col justify-between h-full">
        <div>
            <div class="flex justify-between items-start">
                <h3 class="card-title">
                    {{ match.candidate_profile.display_name }}
                </h3>
                <div class="badge" data-lens="{{ match.match_type }}">{{ match.get_rating_for_type }}/10</div>
            </div>

            <div class="my-2">
                {% if match.candidate_profile.personal_tagline %}
                    <p class="text-base-content/70 italic">{{ match.candidate_profile.personal_tagline }}</p>
                {% endif %}

            </div>

            {% if match.match_summary %}
            <p class="text-sm text-base-content/80 mt-2 line-clamp-3"><strong>Summary:</strong> {{ match.match_summary }}</p>
            {% endif %}
        </div>

        <div class="card-actions justify-end mt-4">
            <a href="{% url 'matching:candidate_match_detail' job_opening.id match.candidate_profile.id %}" class="btn btn-primary">
                View Match Details
            </a>
        </div>
    </div>
</div> 
