<div class="alert alert-error shadow-lg">
  <div class="flex items-center space-x-2">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01M21 12c0 4.97-4.03 9-9 9s-9-4.03-9-9 4.03-9 9-9 9 4.03 9 9z"/></svg>
    <span>{{ message }}</span>
  </div>
  <div class="mt-4">
    <a href="{{ credits_url }}" class="btn btn-primary whitespace-nowrap min-w-max">Buy More Credits</a>
  </div>
</div> 