{% extends 'base.html' %}
{% load static %}

{% block title %}Hiredar | Find Your Path{% endblock %}

{% block content %}
<section class="py-32 bg-base-100 text-center">
  <div class="container mx-auto px-4">
    <h1 class="text-5xl font-bold mb-8">Who Are You?</h1>
    <p class="text-xl mb-12 max-w-2xl mx-auto">Choose the experience that fits you best.</p>
    <div class="flex flex-col sm:flex-row gap-6 justify-center">
      <a href="{% url 'job_seekers:marketing_home' %}" class="btn btn-primary btn-lg">I'm&nbsp;Job&nbsp;Seeker</a>
      <a href="{% url 'recruiters:marketing_home' %}" class="btn btn-secondary btn-lg">I'm&nbsp;Recruiter</a>
    </div>
  </div>
</section>
{% endblock %}